#wrapwrap {
    padding-right: 0 !important;
    padding-left: 0 !important;
    max-width: calc(100% - 328px) !important;
    margin-right: 328px;
}

#wrapwrap>* {
    max-width: 100% !important;
}

#wrapwrap.o_footer_effect_enable>footer {
    position: inherit !important;
}

// top menu

ul#top_menu {
    display: none !important;
}

ul#bottom_menu_ids {
    line-height: 1.4;
    background-color: rgba(255, 255, 255, 0) !important;
    color: #313131;
    font-family: "Work Sans", sans-serif;
    font-size: 13px;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
    position: relative;
}

ul#bottom_menu_ids li {
    border-left: 1px solid rgba(0, 0, 0, 1) !important;
}

.bottom_menu_list__item_link {
    padding: 15px 20px !important;
    color: rgba(0, 0, 0, 1) !important;
    font-family: "Work Sans", sans-serif !important;
    font-size: 17px !important;
    font-weight: 500 !important;
    font-style: normal !important;
    line-height: 20px !important;
    padding: 15px 20px !important;
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    display: block;
    letter-spacing: 0;
    text-transform: none;
    text-shadow: none !important;
    white-space: normal;

}

.carousel-item {
    height: 600px !important;
}

.carousel-item img {
    width: inherit;
}

header.o_header_is_scrolled {
    max-width: calc(100% - 328px) !important;
}

section.s_title,
section.s_text_image,
section.s_text_block.o_colored_level {
    border-top: 1px solid gray;
}

#bottom {
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;

}

div#footer {
    margin-bottom: 4rem;
}

#o_footer_scrolltop {
    margin-top: -100px;
}

section.s_text_block div.s_allow_columns.o_container_small {
    padding: 40px;
    background: #222222;
    margin-bottom: 2em;
}

// Cart-summary
#cart-summary {
    border-right: 12px solid #333333;
    height: calc(100vh - 24px);
    transform: translate3d(-100%, 0, 0);
    width: 340px;
    background: #dc1b1b;
    position: fixed;
    top: 0;
    left: 100%;
    height: 100%;
    max-width: calc(100% - 70px);
    z-index: 6;
    transition: transform .6s ease-in-out;
}

#cart-summary .cart-promo .overlay {
    color: #ffffff;
}

#cart-summary .cart-promo.has-tint::after {
    background-color: #3d4246;
    opacity: 0.5;
}

.cart-summary__inner {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.cart-summary__close {
    display: block;
    background: #cdcdcd;
    padding: 1em 30px;
    border-bottom: 1px solid #f4f4f4;
}

.cart-summary__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-summary__section {
    padding: 1em 30px;
}

.cart-summary__title {
    margin: 0;
}

.cart-summary__empty,
.cart-summary__item-list {
    flex: 1 1 auto;
}

.cart-summary__section {
    padding: 1em 30px;
}

.cart-summary__subtotal {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding-top: 0;
    padding-bottom: 0.5em;
}

.cart-summary__subtotal .amount {
    flex-grow: 1;
    text-align: right;
    margin: 0;
    padding: 0;
    transition: opacity .5s ease;
}

.cart-summary__item-list {
    overflow: auto;
    min-height: 110px;
}

.cart-summary__item-list-header__title {
    display: inline;
    margin: 0 4px 0 0;
}

.cart-summary__item-list-header__count {
    opacity: .75;
}

.cart-accordion-btn {
    float: right;
    border: none;
    background: transparent;
    width: 44px;
    height: 44px;
    margin: -10px -12px -14px;
}

.cart-summary-item__image {
    position: relative;
    flex: 0 0 auto;
    width: 60px;
    padding-right: 20px;
}

.qty-adjuster--with-remove .qty-adjuster__inner {
    margin-right: 1em;
}

.qty-adjuster__inner {
    display: flex;
    border: 1px solid #b4b4b4;
    border-radius: 0;
}

.cart-summary-item {
    display: flex;
}

.qty-adjuster {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.addtc-np {
    width: 40px;
}

.cart-summary-item {
    display: flex;
    padding-bottom: 2em;
}

.qty-adjuster__value {
    width: 40px;
}

.qty-adjuster--with-remove .qty-adjuster__inner {
    margin-right: 1em;
}

.qty-adjuster__inner {
    display: flex;
    border: 1px solid #b4b4b4;
    border-radius: 0;
}

.qty-adjuster__inner button {
    background: transparent;
    border: none;
}

.qty-adjuster__value {
    flex: 0 0 auto;
    padding-left: 0;
    padding-right: 0;
    width: 2.5em;
    text-align: center;
    border-radius: 0;
    background: transparent;
    border: none;
    color: inherit;
}

input,
textarea {
    font-family: inherit;
    font-size: 1em;
    line-height: 1.2em;
    color: #000;
    border: 1px solid #b4b4b4;
    background: #e4e4e4;
    padding: 9px 0.8em;
    max-width: 100%;
    width: 432px;
    min-height: 32px;
    border-radius: 0;
    -webkit-appearance: none;
}

@media (min-width: 1100px) {
    .cart-summary__inner {
        display: flex;
        flex-direction: column;
    }

    .cart-summary .toggle-cart-summary {
        display: none;
    }
}

.card-body {
    background-color: transparent !important;
}

.card img {
    width: 293px;
    height: 293px;
}

.card-title span {
    font-size: 18px;
    display: block;
    color: inherit;
    padding-top: 0.1em;
    margin: 0 0 0.2em;
    text-transform: uppercase;
}

.container-fluid {
    max-width: 1764px;
    padding-right: 20px;
    padding-left: 20px;
    width: 90%;
}

div.o_footer_copyright {
    opacity: 1 !important;
    margin: 0px;
    padding: 0px;
    left: 0px;
    height: 49px;
    width: 100%;
    z-index: 1000000;
    position: fixed;
    overflow: hidden;
    bottom: 0px;
    background-color: white !important;
    font-size: large;
    color: black !important;
}

.o_footer_copyright_name {
    color: black;
    font-size: large;
    font-weight: 600;
}

section.s_title {
    padding-top: 5.5em !important;
    padding-bottom: 5.5em !important;
    border-top: 1px solid #979797;
}

section.s_title h3 {
    display: flex;
    justify-content: space-between;
}

section.s_title h3 strong {
    display: block;
    text-align: center;
}

footer .container .row {
    margin-top: -8px;
}

.btn-primary,
.js_subscribe_btn,
button.wide {
    -webkit-appearance: none;
    display: inline-block;
    background: #000000 !important;
    color: #fff !important;
    border: 2px solid #000000 !important;
    height: auto;
    width: auto;
    padding: 9px 1.4em;
    font-family: inherit;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 400;
    vertical-align: middle;
    text-align: center;
    border-radius: 0;
    transition: opacity .2s, background-color .15s, border-color .15s;
}

button.wide {
    width: 100% !important;
}

// #top_menu_container {
//     display: flex;
//     flex-direction: column-reverse !important;
// }

// section.s_text_block .s_allow_columns {
//     margin: 0 auto;
//     max-width: 1764px;
//     width: 90%;
//     padding-left: 20px;
//     padding-right: 20px;
// }

// .s_newsletter_subscribe_form input[type=email] {
//     padding-left: 1.5em;
//     padding-right: 128px;
//     height: 40px;
//     border: transparent;
//     background: transparent;
//     border-radius: 0;
// }

section .s_allow_columns {
    max-width: 1764px;
    padding-right: 20px;
    padding-left: 20px;
    width: 90%;
}

.s_newsletter_subscribe_form .input-group {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    width: 50% !important;
    margin: auto !important;
}

.o_brand_promotion {
    display: none !important;
}

.o_footer_copyright .o_not_editable {
    display: none !important;
}

.product__link {
    color: inherit;
    text-decoration: none;
}

.cart_detail {
    z-index: 1000;
    display: block;
    height: 38px;
    width: 4rem;
    float: right;
    margin-left: auto;
}

i.add-to-cart {
    z-index: 100;
    /* float: right; */
    position: absolute;
    /* margin-left: auto; */
    /* margin-right: 0; */
    margin-left: 2rem;
    margin-top: 2px;
    border: 1px solid #f727a1;
    border-radius: 50%;
    background: #f727a1;
    font-size: 20px;
    color: #000000;
    padding: 6px;
    cursor: pointer;
}

input.addtc-quantity-field[name="addtc_quantity"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input.addtc-quantity-field.addtc-q-circle {
    padding: 5px 30px 5px 4px !important;
    right: 0px !important;
    top: 0px !important;
    padding-right: 45px !important;
    right: 0px !important;
    top: 0px !important;
    border-radius: 17px !important;
    text-align: center !important;
    z-index: 1000;
}
input.addtc-quantity-field {
    position: absolute;
    background: #FFFFFF;
    width: 68px;
    width: 76px;
    height: 34px;
    min-height: 34px;
    display: block;
    margin: 0;
    text-align: center;
    border: 1px solid #FFFFFF;
    color: #A0A0A0;
    box-sizing: border-box;
    z-index: 9;
    z-index: 9;
    opacity: 1 !important;
}

.addtc {
    position: absolute;
    border-radius: 20px;
    height: inherit;
    font-size: 16px;
    padding: 0 10px;
    background: white;
    color: gray;
}